@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar-inverse {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
